button{
    background: none;
    border: none;
    color: var(--text-global);
    font-size: 24px;
}

button:hover{
    cursor: pointer;
}

/* .line-decorator-active{
    background-color: var(--text-secondary);
    padding: 2px;
    border-radius: 1.5px;
    width: 70%;
}

.line-decorator-block{
    display: none;
} */