*{
  margin: 0;
  padding: 0;
}

/* CSS APPLICATION */
:root{
    --bg-primary: #202833;
    --bg-secondary: rgba(48,62,82,1);
    --text-primary: #FFFFFF;
    --text-secondary: #51BAB6;
    --text-global: #82888F;
}

html{
  width: 100%;
}

body{
    background-color: var(--bg-primary);
}


