.header {
  background-color: var(--bg-secondary);
  display: flex;
  position: fixed;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
  color: var(--text-primary);
  width: calc(100% - 64px);
  z-index: 100;

  .title-site {
    color: currentColor;
  }

  .menu {
    display: flex;
    gap: 32px;
    padding: 16px;

    li {
      list-style: none;
    }

    .btn-mobile {
      display: none;
    }
  }
}

@media (max-width: 600px) {
  .header {
    padding: 32px;
    justify-content: space-between;

    .menu {
      display: none; /* Esconda o menu inicialmente */
      position: absolute;
      width: calc(100vw - 32px);
      visibility: hidden;
      opacity: 0; /* Menu inicia invisível */
      overflow: hidden;
      background-color: var(--bg-secondary);
      top: 82px;
      right: 0;
      z-index: 100;
      transition: max-height 0.4s ease, opacity 0.4s ease, visibility 0s linear 0.4s; /* Suavizando a transição */
      max-height: 0;
    }

    .menu-active {
      display: flex;
      visibility: visible;
      opacity: 1;
      max-height: 300px; /* Defina a altura máxima */
      border-radius: 5px;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;
      transition: max-height 0.4s ease, opacity 0.4s ease; /* Suavizando a transição */
    }

    .title-site {
      margin-left: 8px;
    }

    .btn-mobile {
      display: flex;
      padding: 0.5rem 1rem;
    }

    .hamburguer {
      border-top: 2px solid;
      width: 20px;
      color: currentColor;
    }

    .hamburguer::after,
    .hamburguer::before {
      content: '';
      display: block;
      width: 20px;
      height: 2px;
      background: currentColor;
      margin-top: 5px;
      transition: 0.3s;
      position: relative;
    }

    .active {
      border-top-color: transparent;
    }

    .active::before {
      transform: rotate(135deg);
    }

    .active::after {
      transform: rotate(-135deg);
      top: -7px;
    }
  }
}
