header{
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0 0 0;
    padding: 0;
    
}

.title-site{
    color: var(--text-primary);
}

.icon-tag{
    color: var(--text-secondary);
}