header{
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 32px 0 0 0;
    padding: 0;
    background: radial-gradient(circle, rgba(48,62,82,1) 28%, rgba(32,40,51,1) 60%);
    
}

.title-site{
    color: var(--text-primary);
}

.icon-tag{
    color: var(--text-secondary);
}