.container-about{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: 32px;
    padding: 0 0 200px 0;
    

    .title-page{
        justify-self: center;
        color: var(--text-primary);
    }
    
    .content-about{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
        gap: 150px;
    
        .profile{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 24px;
            p{
                color: var(--text-primary);
                justify-self: center;
            }

            .social-icons{
                display: flex;
                flex-direction: row;
                gap: 24px;
                justify-content: center;
            }

            .social-icons:hover{
                cursor: pointer;
            }
        
            .img-profile{
                border-radius: 100%;
                border: 5px solid var(--text-secondary);
            }

            .img-profile::before{
                border-radius: 100%;
                border: 5px solid var(--bg-color);
            }
        
        }
    
        .profile-description{
            color: var(--text-global);
            display: flex;
            flex-direction: column;
            width: 50vw;
            height: 20vh;
            gap: 2px;
            
            .text-emphasis{
                color: var(--text-primary);
            }

            p{
                text-align: justify;

                
            }
        }
    }
}




