.container-home{
    margin: 32px 64px 0 64px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    .content{
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .img-profile{
        border-radius: 100%;
        border: 5px solid var(--text-secondary);
    }

    .position{
        color: var(--text-secondary);
        font-size: 18px;
    }
    
    h2{
        font-size: 32px;
        color: var(--text-primary);
    }
    
    .apresentation{
        color: var(--text-global);
        font-size: 18px;
        text-align: justify;
    }
}

@media(max-width: 600px) {

    .container-home{
        flex-direction: row;
        margin:24px;
        gap:16px;

        h2{
            font-size: 20px;
            text-align: justify;
        }
    
        .image-home{
            display: none;
        }

        .apresentation{
            font-size: 12px;
        }
    }
   

    
}

