// Define a animação de digitação
@keyframes typing {
    0% {
        width: 0;
    }
    50% {
        width: 100%;
    }
    100% {
        width: 0;
    }
  }
  
  // Define a animação para o cursor piscando
  @keyframes blink-caret {
    from, to {
      border-color: transparent;
    }
    50% {
      border-color: var(--text-secondary);
    }
  }
.container-home{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding: 200px 0;
    margin: 0 64px;

    .content{
        display: flex;
        flex-direction: column;
        gap: 12px;

        .position{
            color: var(--text-secondary);
            font-size: 18px;

            .text-animate{
                white-space: nowrap; // Impede quebra de linha automática
                overflow: hidden; // Esconde o texto que ainda não foi "digitado"
                border-right: 0.15em solid var(--text-secondary); // Adiciona o cursor
                width: 0; // Começa com largura 0

                // Animação de digitação
                animation: 
                typing 6s steps(30, end) infinite, 
                blink-caret 0.75s step-end infinite;
            }
        }
        
        h2{
            font-size: 32px;
            color: var(--text-primary);
        }
        
        .apresentation{
            color: var(--text-global);
            font-size: 18px;
            text-align: left;
        }

        .button-contact{
            background-color: var(--text-secondary);
            color: var(--text-primary);
            width: 150px;
            padding: 8px 0;
            text-align: center;
            border-radius: 5px;
            text-decoration: none;

            &:hover{
                cursor: pointer;
                color: var(--text-global);
            }
        }

        .button-download{
            background-color: var(--text-secondary);
            color: var(--text-primary);
            width: 150px;
            font-size: 16px;
            text-align: center;
            border-radius: 5px;

            &:hover{
                cursor: pointer;
                color: var(--text-global);
            }
        }

        .links{
            display: flex;
            gap: 8px;
        }

    }

    .img-profile{
        border-radius: 100%;
        border: 5px solid var(--text-secondary);
    }
}

@media(max-width: 600px) {

    .container-home{
        flex-direction: row;
        margin:24px 32px;
        gap:16px;

        .content{
            .apresentation{
                font-size: 18px;
            }

            h2{
                font-size: 20px;
                text-align: justify;
            }

            .button-contact{
                width: 30vw;
            }
        }
        .image-home{
            display: none;
        }
        
    }
   

    
}

