footer{
    background-color: var(--bg-secondary);
    display: flex;
    text-align: center;
    color: var(--text-primary);
    justify-content: center;
    padding: 32px 32px;
    margin-top: 64px;
}